- @title = "#{@spec.title} - Textile Reference"
%h1= @spec.title

%p
  %a{:href => '/'} Back to index
%p.check_boxes
  %input{:id => "toggle-html-output", :type=>"checkbox"}
  %label{:for => "toggle-html-output"} Show HTML output

- @spec.examples.each do |heading, examples|
  .example-group
    %h2= heading
    - examples.each do |example_title, example|
      - unless example_title == heading
        %h3= example_title 
      .example.clearfix{:id => example_title.gsub(" ", '-')}
        .desc
          = example['desc']
        .input
          .type Textile
          %pre&= example['input']
        .html{:style => "display:none"}
          .type HTML
          %pre&= RedCloth.new(example['input']).to_html
        .output
          .type Browser
          .output-inner
            :textile
              #{example['input']}
%p
  %a{:href => '/'} Back to index